<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>勤務表作成App</h1>

    <form action="/login" method="post">
        <p>ユーザー名 <input type="text" name="username" required></p>
        <p>パスワード <input type="password" name="password" required></p>
        <p><input type="submit" value="ログイン"></p>
    </form>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
</body>

</html>